<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {%csrf_token%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Urbank: Sign in</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{source 'images/favicon.ico'%}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'vendor/waves/waves.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <style>
      /*
      *** Personal Style bc we want no wizard
      */

      th{
        padding: 0.5rem 2rem 0.5rem 0
      }

      h1{
        text-align: center;
        padding-bottom: 2rem;
        font-weight: 100;
        font-size: 1.5rem;
      }
    </style>
</head>

<body>
    <form method="POST">
        
        
    
  <div id="preloader">
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>

    <div id="main-wrapper">

        <div class="authincation section-padding">
          <div class="mini-logo text-center my-5">
            <a class="ml-2" href="{%url 'index'%}"><img src="{% static 'images/logoUB1.png'%}" alt=""></a>
          </div>
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6 auth-form card px-5 pb-5 pt-5">
                        <h3>We're sorry :^(</h3>
                        <p class="mt-2">This site is currently unavailable because it is still under construction.</p>
                        <a class="btn btn-primary mt-2" href="{% url 'dashboard' %}">Return to dashboard</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script>
          const idClasses = [
    'id_auth-username',
    'id_auth-password',
    ]

    idClasses.forEach(id => {
        let domElem = document.getElementById(`${id}`)
        domElem.classList.add('form-control')
    })
    // ENDOF asterisco
    </script>
    <script src="{% static 'js/global.js'%}"></script>

    <script src="{% static 'vendor/waves/waves.min.js'%}"></script>

    <script src="{% static 'vendor/validator/jquery.validate.js'%}"></script>
    <script src="{% static 'vendor/validator/validator-init.js'%}"></script>

    <script src="{% static 'js/scripts.js'%}"></script>
</form>
</body>

</html>
